<section class="mImage{% for modifier in modifiers %} mImage--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="mImage__wrapper">
    <div class="mImage__container">
        {% include './../../components/image/image.html.twig' with {
          src: image.src,
          alt: image.alt,
          xclasses: ['mImage__image']
        } only %}
    </div>
  </div>
</section>
