<div class="<%= classname %>{% for modifier in modifiers %} <%= classname %>--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="<%= classname %>__descendent"><%= name %></div>
</div>
