<div class="{{namespace}}<%= classname %>{% for modifier in modifiers %}{{modifier}}{% endfor %}{% for xclass in xclasses %}{{xclass}}{% endfor %}">
  <div class="{{namespace}}<%= classname %>__descendent"><%= name %></div>
</div>