{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@src": "./src",
          "@app": "./src/app",
          "@cs": "./src/patterns",
          "@shared": "./src/shared"
        }
      }
    ]
  ]
}
