<div class="cs-mGridExample{% for modifier in modifiers %} cs-mGridExample--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="cs-mGridExample__wrapper">
    <div class="cs-mGridExample__container">
      <div class="cs-mGridExample__cell">1</div>
      <div class="cs-mGridExample__cell">2</div>
      <div class="cs-mGridExample__cell">3</div>
      <div class="cs-mGridExample__cell">4</div>
      <div class="cs-mGridExample__cell">5</div>
      <div class="cs-mGridExample__cell">6</div>
      <div class="cs-mGridExample__cell">7</div>
      <div class="cs-mGridExample__cell">8</div>
      <div class="cs-mGridExample__cell">9</div>
      <div class="cs-mGridExample__cell">10</div>
      <div class="cs-mGridExample__cell">11</div>
      <div class="cs-mGridExample__cell">12</div>
    </div>
    <div class="cs-mGridExample__container">
      <div class="cs-mGridExample__cell cs-mGridExample__cell--half">6</div>
      <div class="cs-mGridExample__cell cs-mGridExample__cell--half">6</div>
    </div>
  </div>
</div>
