<div class="c77-mGridExample{% for modifier in modifiers %} {{modifier}}{% endfor %}{% for xclass in xclasses %}{{xclass}}{% endfor %}">
  <div class="c77-mGridExample__wrapper">
    <div class="c77-mGridExample__container">
      <div class="c77-mGridExample__cell">1</div>
      <div class="c77-mGridExample__cell">2</div>
      <div class="c77-mGridExample__cell">3</div>
      <div class="c77-mGridExample__cell">4</div>
      <div class="c77-mGridExample__cell">5</div>
      <div class="c77-mGridExample__cell">6</div>
      <div class="c77-mGridExample__cell">7</div>
      <div class="c77-mGridExample__cell">8</div>
      <div class="c77-mGridExample__cell">9</div>
      <div class="c77-mGridExample__cell">10</div>
      <div class="c77-mGridExample__cell">11</div>
      <div class="c77-mGridExample__cell">12</div>
    </div>
    <div class="c77-mGridExample__container">
      <div class="c77-mGridExample__cell c77-mGridExample__cell--half">6</div>
      <div class="c77-mGridExample__cell c77-mGridExample__cell--half">6</div>
    </div>
  </div>
</div>