<section class="mKnowledge{% for modifier in modifiers %} mKnowledge--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="mKnowledge__wrapper">
    <div class="mKnowledge__container">
    <div class="mKnowledge__richtext">
      {% if paragraphs.length > 0 %}
        {% for paragraph in paragraphs %}
          {% include './../../components/paragraph/paragraph.html.twig' with paragraph %}
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
</section>
