<div class="mNoIe{% for modifier in modifiers %} mNoIe--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="mNoIe__wrapper">
    <div class="mNoIe__container">
      {% include './../../components/headline/headline.html.twig' with headline only %}
      {% if paragraphs.length > 0 %}
        {% for paragraph in paragraphs %}
          {% include './../../components/paragraph/paragraph.html.twig' with paragraph only %}
        {% endfor %}
      {% endif %}

      {% if browsers.length > 0 %}
        <div class="mNoIe__browserContainer">
        {% for browser in browsers %}
          <a href="{{browser.href}}" class="mNoIe__browser">
            {% include './../../components/symbol/symbol.html.twig' with browser.icon only %}
            <div class="mNoIe__browserName">{{browser.name}}</div>
          </a>
        {% endfor %}
        </div>
      {% endif %}
    </a>
  </div>
</div>
