<section class="mContact{% for modifier in modifiers %} mContact--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="mContact__wrapper">
    <div class="mContact__container">
      <div class="mContact__information">
      {% if paragraphs.length > 0 %}
        {% for paragraph in paragraphs %}
          {% include './../../components/paragraph/paragraph.html.twig' with paragraph only %}
        {% endfor %}
      {% endif %}
      </div>
      <div class="mContact__contactItems">
      {% if contactdata.length > 0 %}
        {% for contactitem in contactdata %}
          {% include './../../components/contact-item/contact-item.html.twig' with contactitem only %}
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
</section>
