@import 'mixins';
@import 'grid';

// CS Colors
$cs-color-green: #00ae2f;
$cs-color-darkGreen: #005000;
$cs-color-black: #0a0a0a;
$cs-color-grey1: #f6f6f6;
$cs-color-grey2: #d8d8d8;
$cs-color-grey3: #333;
$cs-color-white: #fff;

// CS Font
$cs-font: 'Rajdhani', sans-serif;
$cs-font-weight: 400;
$cs-font-weight-bold: 700;

// CS Grid
$cs-max-content-width: 1280px;
$cs-grid-gutters: 32px;
$cs-grid-columns: 12;
$cs-grid-wrapper-padding-default: (20px / 320px) / 2 * 100%;
$cs-grid-wrapper-padding-small-devices: 24px;

// CS Breakpoints
$cs-breakpoint-s: 600px; // S
$cs-breakpoint-m: 960px; // M
$cs-breakpoint-l: 1280px; // L
$cs-breakpoint-xl: 1920px; // XL
$cs-breakpoints: (
  s: $cs-breakpoint-s,
  m: $cs-breakpoint-m,
  l: $cs-breakpoint-l,
  xl: $cs-breakpoint-xl
);

// CS Typography
// H1
$cs-font-size-h1: 4.5rem;
$cs-font-size-h1-tablet: 2.5rem;
$cs-font-size-h1-phone: 2rem;
$cs-line-height-h1: 1.5;
// H2
$cs-font-size-h2: 2rem;
$cs-font-size-h2-tablet: 1.75rem;
$cs-font-size-h2-phone: 1.125rem;
$cs-line-height-h2: 1.5;
// H3
$cs-font-size-h3-large: 7.5rem;
$cs-font-size-h3-desktop: 5rem;
$cs-font-size-h3-tablet: 3rem;
$cs-font-size-h3-phone: 2rem;
$cs-line-height-h3: 1.5;
// H4 - currently not styles
$cs-font-size-h4: 1.125rem;
$cs-font-size-h4-tablet: 1.125rem;
$cs-font-size-h4-phone: 1.125rem;
$cs-line-height-h4: 1.5;
// H5 - currently not styles
$cs-font-size-h5: 0.875rem;
$cs-font-size-h5-tablet: 0.875rem;
$cs-font-size-h5-phone: 0.875rem;
$cs-line-height-h5: 1.5;
// H6 - currently not styles
$cs-font-size-h6: 0.75rem;
$cs-font-size-h6-tablet: 0.75rem;
$cs-font-size-h6-phone: 0.75rem;
$cs-line-height-h6: 1.5;
// P
$cs-font-size-paragraph: 1.125rem;
$cs-font-size-paragraph-tablet: 1.125rem;
$cs-font-size-paragraph-phone: 1rem;
$cs-line-height-paragraph: 1.5;
// P small
$cs-font-size-paragraph-small: 1rem;
$cs-font-size-paragraph-small-tablet: 0.875rem;
$cs-font-size-paragraph-small-phone: 0.75rem;
$cs-line-height-paragraph-small: 1.55;

// CS Animation and Transition
$cs-transition-timing-function: cubic-bezier(0.17, 0.67, 0.35, 1);
$cs-transition-duration: 200ms;

// CS Spacing
$cs-baseUnit: 16px;
$cs-spacing-xxxs: $cs-baseUnit * 0.25; // 4px
$cs-spacing-xxs: $cs-baseUnit * 0.5; // 8px
$cs-spacing-xs: $cs-baseUnit * 0.75; // 12px
$cs-spacing-s: $cs-baseUnit * 1; // 16px
$cs-spacing-m: $cs-baseUnit * 1.5; // 24px
$cs-spacing-l: $cs-baseUnit * 2; // 32px
$cs-spacing-xl: $cs-baseUnit * 3; // 48px
$cs-spacing-xxl: $cs-baseUnit * 4; //  64px
$cs-spacing-xxxl: $cs-baseUnit * 5; // 80px
