@mixin cs-typography-h3 {
  & {
    font-family: $cs-font;

    @each $-key, $-value in $cs-font-h3 {
      @if map-has-key($cs-breakpoints, $-key) {
        @include cs-respond-to($-key) {
          font-size: map-get($-value, fs);
          line-height: map-get($-value, lh);
        }
      }

      @else {
        font-size: map-get($-value, fs);
        line-height: map-get($-value, lh);
      }
    }
  }
}

@mixin cs-typography-paragraph {
  & {
    font-family: $cs-font;

    @each $-key, $-value in $cs-font-p {
      @if map-has-key($cs-breakpoints, $-key) {
        @include cs-respond-to($-key) {
          font-size: map-get($-value, fs);
          line-height: map-get($-value, lh);
        }
      }

      @else {
        font-size: map-get($-value, fs);
        line-height: map-get($-value, lh);
      }
    }
  }
}

@mixin cs-typography-paragraph-big {
  & {
    font-family: $cs-font;

    @each $-key, $-value in $cs-font-p-big {
      @if map-has-key($cs-breakpoints, $-key) {
        @include cs-respond-to($-key) {
          font-size: map-get($-value, fs);
          line-height: map-get($-value, lh);
        }
      }

      @else {
        font-size: map-get($-value, fs);
        line-height: map-get($-value, lh);
      }
    }
  }
}

@mixin cs-typography-paragraph-small {
  & {
    font-family: $cs-font;

    @each $-key, $-value in $cs-font-p-small {
      @if map-has-key($cs-breakpoints, $-key) {
        @include cs-respond-to($-key) {
          font-size: map-get($-value, fs);
          line-height: map-get($-value, lh);
        }
      }

      @else {
        font-size: map-get($-value, fs);
        line-height: map-get($-value, lh);
      }
    }
  }
}

@mixin cs-typography-button {
  & {
    font-family: $cs-font;
    font-weight: $cs-font-weight;
    line-height: 1.5;
    text-decoration: none;

    @each $-key, $-value in $cs-font-button {
      @if map-has-key($cs-breakpoints, $-key) {
        @include cs-respond-to($-key) {
          font-size: map-get($-value, fs);
        }
      }

      @else {
        font-size: map-get($-value, fs);
      }
    }
  }
}
