$-fontsPath : './fonts/';

// Rajdhani Regular
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: url("#{$-fontsPath}rajdhani-regular.eot");
  src: url("#{$-fontsPath}rajdhani-regular.eot?#iefix") format('embedded-opentype'), url("#{$-fontsPath}rajdhani-regular.woff2") format('woff2'), url("#{$-fontsPath}rajdhani-regular.woff") format('woff'), url('#{$-fontsPath}rajdhani-regular.ttf') format('truetype');
}

// Rajdhani Bold
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: url("#{$-fontsPath}rajdhani-bold.eot");
  src: url("#{$-fontsPath}rajdhani-bold.eot?#iefix") format('embedded-opentype'), url("#{$-fontsPath}rajdhani-bold.woff2") format('woff2'), url("#{$-fontsPath}rajdhani-bold.woff") format('woff'), url('#{$-fontsPath}rajdhani-bold.ttf') format('truetype');
}
