@import '~@util/base/reset';
@import '~@util/base/fonts';
@import '~@util/theme/theme';

* {
  box-sizing: border-box;
}

html {
  font-family: #{$cs-fontFamily}, sans-serif;
  font-size: $cs-fontSize;
}

body {
  font-family: #{$cs-fontFamily}, sans-serif;
}
