@import '~@util/theme/theme';
@import '~@util/theme/mixins';

.cParagraph {
  font-family: $cs-fontFamily;
  font-size: 1rem;
  font-weight: $cs-fontWeight;
  line-height: 1.5;
  color: $cs-color-black;

  @include respond-to(m) {
    font-size: 1.125rem;
  }

  &--small {
    font-size: 0.75rem;
  }
}
