@import '~@util/theme/theme';
@import '~@util/theme/mixins';

.cs-cLogo {
  &__link {
    display: block;
  }

  &__logo {
    width: 100%;
    height: 17px;

    @include respond-to(l) {
      height: 25px;
    }
  }
}
