<nav class="cNavigation{% for modifier in modifiers %} cNavigation--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <ul class="cNavigation__list">
    {% for item in items %}
    <li class="cNavigation__listItem">
      {% include './../anker/anker.html.twig' with {
        url: item.url,
        content: item.content,
        xclasses: ['cNavigation__listLink']
      } only %}
    </li>
    {% endfor %}
  </ul>
</nav>
