@mixin cs-List-item($-style: unordered) {
  position: relative;

  @if $-style == unordered {
    margin-left: 24px;
    list-style-position: outside;
    list-style-type: disc;
  }

  @if $-style == ordered {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;

    &::before {
      position: relative;
      align-self: flex-start;
      width: 24px;
      min-width: 24px;
      color: $cs-color-black;
      text-align: left;
      content: counter(count) ". ";
      counter-increment: count;
    }
  }
}
