<div class="cContactItem cContactItem__content--{{type}}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  {% if type == 'email' %}
  {% include './../anker/anker.html.twig' with {
    url: 'mailto:' ~ content,
    content: content,
    xclasses: ['cContactItem__content']
  } only %}
  {% elseif type == 'number' %}
  {% set telContent = content | replace({'(0)': '', ' ': ''}) %}
  {% include './../anker/anker.html.twig' with {
    url: 'tel:' ~ telContent,
    content: content,
    xclasses: ['cContactItem__content']
  } only %}
  {% endif %}
</div>
