<section class="mDataProtection{% for modifier in modifiers %} mDataProtection--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="mDataProtection__wrapper">
    <div class="mDataProtection__container">
      <div class="mDataProtection__richtext">
        {% if headline %}
          {% include './../../components/headline/headline.html.twig' with headline only %}
        {% endif %}
        {% if subline %}
          {% include './../../components/headline/headline.html.twig' with subline only %}
        {% endif %}
        {% if paragraphs.length > 0 %}
          {% for paragraph in paragraphs %}
            {% include './../../components/paragraph/paragraph.html.twig' with paragraph only %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
