<a href="{{url}}" class="cAnker{% for modifier in modifiers %} cAnker--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <span class="cAnker__content">{{content}}</span>
</a>
