@import '~@util/theme/theme';
@import '~@util/theme/mixins';

.cAnker {
  position: relative;
  font-family: $fontFamily;
  font-size: inherit;
  font-weight: $fontWeight;
  color: $color-darkGreen;
  text-decoration: none;
  cursor: pointer;

  &::before {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    visibility: visible;
    content: "";
    background-color: $color-darkGreen;
    transition: all 300ms ease-in-out;
    transform: scaleX(1);
  }

  &:hover {
    color: $color-green;

    &::before {
      visibility: visible;
      background-color: $color-green;
      animation: underline;
      animation-duration: 300ms;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes underline {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}
