@import '~@util/theme/theme';
@import '~@util/theme/mixins';

.cHeadline {
  font-family: $cs-fontFamily;
  font-weight: $fontWeight--bold;

  &--h1 {
    font-size: 1.375rem;
    color: $color-black;

    @include respond-to(l) {
      font-size: 2rem;
    }
  }

  &--h2 {
    font-size: 1.125rem;
    color: $color-green;

    @include respond-to(l) {
      font-size: 1.5rem;
    }
  }
}
