<div class="cs-mHeader{% for modifier in modifiers %} cs-mHeader--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="cs-mHeader__wrapper">
    <div class="cs-mHeader__container">
      <div class="cs-mHeader__logo">
        {% include './../../components/logo/logo.html.twig' with {
          url: '#top',
          image: {
            src: 'assets/images/cs-wortmarke.svg',
            alt: 'CHRISTOPH STOCKINGER'
          }
        } %}
      </div>
    </div>
  </div>
</div>
