<div class="mFooter{% for modifier in modifiers %} mFooter--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="mFooter-descendent">Du bist {{ footer }}</div>

  {% include './../../components/button/button.html.twig' %}
</div>
