<div class="mFooter{% for modifier in modifiers %} mFooter--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="mFooter__wrapper">
    <div class="mFooter__container">
        {% include './../../components/navigation/navigation.html.twig' with navigation %}
        {% embed './../../components/button-group/button-group.html.twig' with { xclasses: ['mFooter__socialMedia'] } only %}
          {% block buttons %}
              <a href="" class="cAnker cAnker--noUnderline cAnker--icon">
              {% include './../../components/symbol/symbol.html.twig' with {name: 'cs-github'} only %}
              </a>
              <a href="" class="cAnker cAnker--noUnderline cAnker--icon">
              {% include './../../components/symbol/symbol.html.twig' with {name: 'cs-facebook'} only %}
              </a>
              <a href="" class="cAnker cAnker--noUnderline cAnker--icon">
              {% include './../../components/symbol/symbol.html.twig' with {name: 'cs-instagram'} only %}
              </a>
              <a href="" class="cAnker cAnker--noUnderline cAnker--icon">
              {% include './../../components/symbol/symbol.html.twig' with {name: 'cs-xing'} only %}
              </a>
          {% endblock buttons %}
        {% endembed %}
      <div class="mFooter__legal">
        {% include './../../components/paragraph/paragraph.html.twig' with copyright %}
      </div>
    </div>
  </div>
</div>
