<div class="cs-mFooter{% for modifier in modifiers %} cs-mFooter--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <div class="cs-mFooter-descendent">Du bist {{ footer }}</div>

  {% include './../../components/button/button.html.twig' %}
</div>
