// Copyright Coding77 - Christoph Stockinger - www.coding77.de

$-fonts: './fonts';

/**
 * Open Sans Extra Bold
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('#{$-fonts}/open-sans-extra-bold.eot?#iefix');
  src:
    url('#{$-fonts}/open-sans-extra-bold.eot?#iefix') format('eot'),
    url('#{$-fonts}/open-sans-extra-bold.woff2') format('woff2'),
    url('#{$-fonts}/open-sans-extra-bold.woff') format('woff'),
    url('#{$-fonts}/open-sans-extra-bold.ttf') format('truetype');
}

/**
 * Open Sans Bold
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$-fonts}/open-sans-bold.eot?#iefix');
  src:
    url('#{$-fonts}/open-sans-bold.eot?#iefix') format('eot'),
    url('#{$-fonts}/open-sans-bold.woff2') format('woff2'),
    url('#{$-fonts}/open-sans-bold.woff') format('woff'),
    url('#{$-fonts}/open-sans-bold.ttf') format('truetype');
}

/**
 * Open Sans Regular
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$-fonts}/open-sans-regular.eot?#iefix');
  src:
    url('#{$-fonts}/open-sans-regular.eot?#iefix') format('eot'),
    url('#{$-fonts}/open-sans-regular.woff2') format('woff2'),
    url('#{$-fonts}/open-sans-regular.woff') format('woff'),
    url('#{$-fonts}/open-sans-regular.ttf') format('truetype');
}

/**
 * Open Sans Light
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('#{$-fonts}/open-sans-light.eot?#iefix');
  src:
    url('#{$-fonts}/open-sans-light.eot?#iefix') format('eot'),
    url('#{$-fonts}/open-sans-light.woff2') format('woff2'),
    url('#{$-fonts}/open-sans-light.woff') format('woff'),
    url('#{$-fonts}/open-sans-light.ttf') format('truetype');
}
