@import '~@util/theme/theme';
@import '~@util/theme/mixins';

$-dev-componentName: '.dev-GridOverlay';

#{$-dev-componentName} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  box-sizing: border-box;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
  display: block;

  &__wrapper,
  &__container,
  &__cell {
    height: 100%;
  }

  &__wrapper {
    @include gridWrapper;
  }

  &__container {
    @include gridContainer;
  }

  &__cell {
    @include gridCell(1);

    &::before {
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgb(0, 217, 255);
    }
  }

  &.is-hidden {
    display: none;
  }
}
