<div class="cButtonGroup{% for modifier in modifiers %} cButtonGroup--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  {% block buttons %}
  {% endblock buttons %}
</div>
